{{log this}}
<div class="container">
  <div class="card7">
    <div id="BucketList">
      <h2>{{title}}</h2>
      <div class="container">
        <h3>Travel</h3>
        <br>
        {{#each bucketListItems as |item| }}
        {{#if (ifCond item.category "travel")}}
        <div class ="list-items">
        <ul id="travel-list">{{item.body}}</ul>
        <button class="delete-btn" id ="{{item.id}}">x</button>
        </div>
        
        {{/if}}
        {{/each}}


        <br>

        <h3>Food</h3>
        <br>
        {{#each bucketListItems as |item| }}
        {{#if (ifCond item.category "food")}}
        <div class ="list-items">
        <ul id="food-list">{{item.body}}</ul>
        <button class="delete-btn" id ="{{item.id}}">x</button>
        </div>
        
        {{/if}}
        {{/each}}
        <br>
        <h3>Adrenaline</h3>
        <br>
        {{#each bucketListItems as |item| }}
        {{#if (ifCond item.category "adrenaline")}}
        <div class ="list-items">
        <ul id="adrenaline-list">{{item.body}}</ul>
        <button class="delete-btn" id ="{{item.id}}">x</button>
        </div>
        
        {{/if}}
        {{/each}}

        <br>


      </div>
    </div>
  </div>
</div>
<br>
<h3>Custom List Item</h3>
<div class="container">
 <div class = "card7">
    <input class="user-input" placeholder="Write your own idea here!">
  </div>
  </div>

<h3>Select Category</h3>
<div class = "card7">
 <button type="generate-lock" class="btn btn-secondary" id="travel">Travel</button>
  <button type="generate-lock" class="btn btn-secondary" id="food">Food</button>
  <button type="generate-lock" class="btn btn-secondary" id="adrenaline">Adrenaline</button>
  </div>


<br>
<h3>Generate Random List Item</h3>
  <div class="container" id="container">
    <div class="card8">
      <button type="generate-lock" class="btn btn-success" id="generate">Generate</button>
      <ul id="travel-list"></ul>
      <div>
        <a href="/">
          <button type="generate-lock" class="btn btn-secondary" id="profile-generate">Return Home</button>
        </a>
      </div>
    </div>
  </div>

  <h3>Share your Bucket List:</h3>
<div class="container">
  <div class="card8">
    <input class="form-input" type="email" id="enter-email" placeholder="Enter Recipient's Email" />

    <button type="email" class="btn btn-primary" id="email">Email</button>
  </div>
</div>
 




<script src="/js/bucketList.js"></script>