{{log this}}
{{#each listData as |List| }}
{{!-- {{#each List.bucketListItems as |Item| }} --}}
<br>
    <div class="container">

      <div id="BucketList">
        <h4>{{List.title}}</h4>

        <button type="travel-lock" class="btn btn-primary">Travel</button>
        {{#each List.bucketListItems as |item| }}
        {{#if (ifCond item.category "travel")}}
        <ul id="travel-list">{{item.body}}</ul>
        {{/if}}
        {{/each}}


        <br>
        <button type="travel-lock" class="btn btn-primary">Food</button>
        {{#each List.bucketListItems as |item| }}
        {{#if (ifCond item.category "food")}}
        <ul id="food-list">{{item.body}}</ul>
        {{/if}}
        {{/each}}
        {{!-- {{#if (ifCond item.category "food")}}
        <li>{{item.body}}</li>
        {{/if}} --}}
        <br>
        <button type="travel-lock" class="btn btn-primary">Adrenaline</button>
        {{#each List.bucketListItems as |item| }}
        {{#if (ifCond item.category "adrenaline")}}
        <ul id="adrenaline-list">{{item.body}}</ul>
        {{/if}}
        {{/each}}
        {{!-- {{#if (ifCond item.category "adrenaline")}}
        <li>{{item.body}}</li> --}}
        <br>
        {{!-- {{/if}}
        {{/each}} --}}
        <div>
          <br>
          {{!-- {{/each}} --}}
          {{/each}}
          <button type="register" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
      <br>
      <button type="generate-lock" class="btn btn-outline-success" id="generate">Generate</button>
      <ul id="travel-list"></ul>
    </div>
  </div>



  <script src="./js/homepage.js"></script>