{{log this}}

<div class="column">
  <div class="col-auto">
    {{#each listData as |List| }}
    <h4></h4>
    
  </div>
</div>
{{!-- {{#each List.bucketListItems as |Item| }} --}}
<div class="row mt-4">
  <div class="col-md-6">
    <div class="container">
      
        <div id="BucketList">
          <h4>{{List.title}}</h4>
                              
                <button type ="travel-lock" class="btn btn-primary">Travel</button>
                {{#each List.bucketListItems as |item| }}  
                {{#if (ifCond item.category "travel")}}
                <ul id="travel-list">{{item.body}}</ul>
                {{/if}}
                {{/each}}
                
                
                <br>
                <button type ="travel-lock" class="btn btn-primary">Food</button>
                {{#each List.bucketListItems as |item| }}  
                {{#if (ifCond item.category "food")}}
                <ul id ="food-list">{{item.body}}</ul>
                {{/if}}
                {{/each}}
                {{!-- {{#if (ifCond item.category "food")}}
                <li>{{item.body}}</li>
                {{/if}} --}}
                <br> 
                <button type ="travel-lock" class="btn btn-primary">Adrenaline</button>
                {{#each List.bucketListItems as |item| }}  
                {{#if (ifCond item.category "adrenaline")}}
                <ul id ="adrenaline-list">{{item.body}}</ul>
                {{/if}}
                {{/each}}
                {{!-- {{#if (ifCond item.category "adrenaline")}}
                <li>{{item.body}}</li> --}}
                <br>
                {{!-- {{/if}}
                {{/each}}                 --}}
        <div>
      {{!-- {{/each}} --}}
      {{/each}}

        <button type="submit" class="btn btn-primary">Clear</button>
         <button type="save" class="btn btn-primary">Save</button>
          <button type="email" class="btn btn-primary">Email</button>
      </div>
      </div>
    </div>
      <br>
      <div id="container">
        <br>
        <button type ="generate-lock" class="btn btn-primary" id="generate">Generate</button>
                <ul id="travel-list"></ul>
      </div>
  </div>

 

<script src="./js/homepage.js"></script>
