{{log this}}
<div class=container>
<div class=card1>
<br>
      <button type="generate-lock" class="btn btn-outline-success" id="generate">Generate</button>
      <div id="generatedItem"></div>
      </div>
      </div>
{{#each listData as |List| }}
{{!-- {{#each List.bucketListItems as |Item| }} --}}


<br>

      <div class="card2">
      <div id="BucketList">
        <h4>{{List.title}}</h4>

        <button type="travel-lock" class="btn btn-primary">Travel</button>
        {{#each List.bucketListItems as |item| }}
        {{#if (ifCond item.category "travel")}}
        <ul id="travel-list">{{item.body}}</ul>
        {{/if}}
        {{/each}}


        <br>
        <button type="travel-lock" class="btn btn-primary">Food</button>
        {{#each List.bucketListItems as |item| }}
        {{#if (ifCond item.category "food")}}
        <ul id="food-list">{{item.body}}</ul>
        {{/if}}
        {{/each}}
        {{!-- {{#if (ifCond item.category "food")}}
        <li>{{item.body}}</li>
        {{/if}} --}}
        <br>
        <button type="travel-lock" class="btn btn-primary">Adrenaline</button>
        {{#each List.bucketListItems as |item| }}
        {{#if (ifCond item.category "adrenaline")}}
        <ul id="adrenaline-list">{{item.body}}</ul>
        {{/if}}
        {{/each}}
        {{!-- {{#if (ifCond item.category "adrenaline")}}
        <li>{{item.body}}</li> --}}
        </div>
        </div>
        <br>
          {{/each}}
          <a href="/login">
          <button type="register" class="btn btn-primary">Login</button>
          </a>
          <a href="/profile">
          <button type="register" class="btn btn-primary">View Profile</button>
          </a>
        </div>

      </div>
     
  <script src="./js/homepage.js"></script>