{{log this}}
<div class = "profile-container">
<div id="landing-page" style="visibility:visible">
  <input class="form-input" type="text" id="title-create" />
  <button type="travel-lock" class="btn btn-primary" id="create">Create List</button>
</div>

  <div class="column">
  
      <h3>{{name}}'s Bucket Lists:</h3>
  
  </div>
  <div>
 {{#each bucketLists as |list|}}
 <div class="bucket-lists">
  <a href="/bucketlist/{{list.id}}">
  <h2>{{list.title}}</h2>
  </a>
  <button class="delete-btn" id="{{list.id}}" >x</button>
  </div>
  {{/each}}
  </div>
  
 


<div>
 <div class="container">
    <div class="card6"> 
  <button type="submit" class="btn btn-danger" id="logout">Logout</button>
<div id="profile-container">
  <br>
</div>
<div>
  <a href="/">
    <button type="generate-lock" class="btn btn-secondary" id="profile-generate">Return Home</button>
  </a>
  </div>
</div>
 </div>
</div>
</div>
<script src="./js/profile.js"></script>
<script src="./js/logout.js"></script>